
@{
    ViewBag.Title = "Index";
}

<title>Lista Cliente</title>
<h2 class="text-center fw-bolder mt-3 mb-3">Lista de Clientes</h2>

<div class="row mb-3">
    <div class="col-12">
        <a class="btn btn-outline-primary mt-3 mb-3" href="/cliente/Cadastro" id="botao-cadastro">@*<i class="fa-plus"></i>*@Cadastrar Cliente</a>
    </div>
</div>

<table class=" table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>RG</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Model.Cliente cliente in ViewBag.Clientes)
        {
        <tr>
            <td>@cliente.Id</td>
            <td>@cliente.Nome</td>
            <td>@cliente.Cpf</td>
            <td>@cliente.Rg</td>
            <td>
                <a href="/cliente/editar?id=@cliente.Id" class="btn btn-outline-primary">Editar</a>
                <a href="/cliente/apagar?id=@cliente.Id" class="btn btn-outline-danger">Apagar</a>
            </td>
        </tr>
        }
    </tbody>
</table>